html, body, main {
    background-color: #7c73c5;
    color: #000;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

main, .padding1 {
    padding: 30px;
}

#challenges-container, #challenge1-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.challenge-container {
    height: auto;
    border-radius: 10px;
    background-color: #f0f0ff;
    color: #555;
}
.content, .subtitle .code{
    align-items: start;
    text-align: start;
    width: 100%;
}
.content-section {
    margin: 10px 0;
}
.title {
    font-size: 18px;
    font-weight: 700;
    color: #333;
}
.subtitle {
    font-size: 14px;
    font-weight: 900;
    color: #555;
}
.content {
    font-size: 16px;
    font-weight: 900;
    color: #000;
    font-weight: 300;
}
.result, pre, input {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
}

code {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

.input-container {
    font-family: "Poppins", sans-serif;
    flex-direction: row;
    gap: 10px;
}
.input-container .result {
    width: 100%;
}
input {
    border-radius: 10px;
    width: 100%;
    border-color: #0000;
    background-color: #fff;
}
button {
    height: 35px;
    border-radius: 10px;
    border: #0000;
    background-color: #188ece;
    color: #fff;
    padding: 10px;
    font-weight: 600;
}
p, pre {
    margin: 0;
}
p {
    margin-bottom: 5px;
}
.assignment-container {
    margin-bottom: 15px;
}

h1 {
    text-align: center;
    font-size: 36px;
}

@media (min-width: 640px) {
    .padding1 {
        padding: 40px;
    }
}

@media (max-width: 640px) {
    h1 {
        font-size: 24px;
    }
    .assignment {
        font-size: 14px;
    }
    code {
        font-size: 8px;
    }
}